<header class="nav-type-1">
	
		<nav class="navbar navbar-fixed-top">
			<div class="navigation-overlay dark">
				<div class="container-fluid semi-fluid relative">

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<div class="logo-container">
							<div class="logo-wrap local-scroll">
								<a href="#home">
									<!-- <img class="logo" src="img/logo_light.png" alt="logo"> -->
								</a>
							</div>
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">
							  
								<ul class="nav navbar-nav local-scroll navbar-right">

									<li class="active">
										<a href="#intro">Home</a>
									</li>
									<li>
										<a href="#baskets">Subscriptions</a>
									</li>
									<li>
										<a href="#">Test Drive</a>
									</li>
									<li>
										<a href="#">About us</a>
									</li>							            
									<li>
										<a href="#">Contact us</a>
									</li>
									<%if(!currentUser){%>
										<li>
											<a href="#" data-toggle="modal" data-target="#login-form">
												Login/Register
											</a>
										</li>
										<%} else {%>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Logged in as
													<%=currentUser%>
												</a>
												<ul class="dropdown-menu">
													<li>
														<a href="#">Profile</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="/logout">Logout</a>
													</li>
												</ul>
											</li>
											<% } %>
									
								</ul>
							</div>
						</div> <!-- end col -->
				
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>
