<%include ../partials/header%>
<body>

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1 transparent">
	
		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_light.png" alt="logo">
									<img class="logo-dark" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">
							  
								<ul class="nav navbar-nav navbar-right">

									<li class="active">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
									</li>
									<li>
										<a href="#portfolio">Subscriptions</a>
									</li>
									<li>
										<a href="#services">Test Drive</a>
									</li>
									<li>
										<a href="#about-us">About us</a>
									</li>							            
									<li>
										<a href="#contact">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->
				
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper oh">

		<!-- Page Title -->
		<section class="page-title style-3 text-center" style="background-image: url(img/about_us.png);">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<!-- <h1 class="uppercase">About Us</h1> -->
					</div>
				</div>
				<div class="local-scroll hidden-sm hidden-xs">
					<a href="#intro" class="scroll-down">
						<i class="fa fa-angle-down"></i>
					</a>
				</div>
			</div>
		</section> <!-- end page title -->

		<!-- About us / Progress Bars -->
		<section class="section-wrap" id="intro">
			<div class="container">
				<div class="row">

					<div class="col-sm-6">
						<div class="about-description">
							<h4>What We Do</h4>
							<p>Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean e-commerce template with endless possibilities.</p>
							<p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination. We know that this subconscious mind controls and orchestrates our bodily functions.</p>
						</div>
					</div> <!-- end col -->

					<div class="col-sm-6">
						<div class="progress-bars skills-progress">

							<h6>Web Design <span>88%</span></h6>
							<div class="progress meter">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" class="progress-bar" role="progressbar">
									<span class="sr-only">88% Complete</span>
								</div>
							</div>

							<h6>Marketing <span>92%</span></h6>
							<div class="progress meter">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" class="progress-bar" role="progressbar">
									<span class="sr-only">92% Complete</span>
								</div>
							</div>

							<h6>WordPress <span>94%</span></h6>
							<div class="progress meter">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="94" class="progress-bar" role="progressbar">
									<span class="sr-only">94% Complete</span>
								</div>
							</div>

							<h6>Photography <span>78%</span></h6>
							<div class="progress meter" id="animated-skills">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" class="progress-bar" role="progressbar">
									<span class="sr-only">78% Complete</span>
								</div>
							</div>

						</div>
					</div> <!-- end col -->		

				</div>
			</div>
		</section> <!-- end progress bars -->

		<!-- Our Team -->
		<section class="section-wrap-lg our-team pb-80">
			<div class="container">

				<div class="row heading">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="bottom-line">Our Team</h2>
						<p class="subheading style-2">Creative Minds With The Extraordinary Skills</p>
					</div>
				</div>

				<div class="row">

					<div class="col-md-4 col-sm-6 team-wrap mb-40 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">
						<div class="team-member text-center">
							<div class="team-img" onclick="return true">
								<img src="img/team_1.jpg" alt="">
								<div class="overlay">
									<div class="team-details text-center">
										<div class="social-icons rounded">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>
							</div>
							<h4 class="team-title">David Geller</h4>
							<span>CEO of Company</span>						
						</div>
					</div> <!-- end team member -->

					<div class="col-md-4 col-sm-6 team-wrap mb-40 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
						<div class="team-member text-center">
							<div class="team-img">
								<img src="img/team_2.jpg" alt="">
								<div class="overlay">
									<div class="team-details text-center">
										<div class="social-icons rounded">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>
							</div>
							<h4 class="team-title">Monica Bing</h4>
							<span>Art Director</span>						
						</div>
					</div> <!-- end team member -->

					<div class="col-md-4 col-sm-6 team-wrap wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
						<div class="team-member last text-center">
							<div class="team-img">
								<img src="img/team_3.jpg" alt="">
								<div class="overlay">
									<div class="team-details text-center">
										<div class="social-icons rounded">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-envelope"></i></a>
										</div>
									</div>
								</div>
							</div>
							<h4 class="team-title">Joey Tribbiani</h4>
							<span>Lead Designer</span>						
						</div>
					</div> <!-- end team member -->

				</div>
			</div>
		</section> <!-- end our team -->


		

		<!-- Call to Action -->
		<section class="call-to-action bg-light">
			<div class="container">
				<div class="row">

					<div class="col-sm-9 col-xs-12">		
						<h2 class="mb-0"></h2>
					</div>
					
					<!-- <div class="col-sm-3 col-xs-12 cta-button">
						<a href="#" class="btn btn-lg btn-dark">Buy it Now</a>
					</div> -->

				</div>
			</div>
		</section> <!-- end call to action -->

		<%include ../partials/footer%>	
	
