<%include ../partials/header%>
<body style="font-family: Raleway, sans-serif">

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li class="active">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
									</li>
									<li>
										<a href="#portfolio">Subscriptions</a>
									</li>
									<li>
										<a href="#services">Test Drive</a>
									</li>
									<li>
										<a href="#about-us">About us</a>
									</li>							            
									<li>
										<a href="#contact">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper shop oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">Checkout</h1>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->


		<!-- Checkout -->
		<section class="section-wrap-small checkout">
			<div class="container relative">
				<div class="row">

					<div class="ecommerce col-xs-12">

						<!-- <div class="row mb-30">
							<div class="col-md-8">
								<p class="ecommerce-info">
									Returning Customer? 
									<a href="#" class="showlogin">Click here to login</a>
								</p>
							</div>
						</div> -->

						<form action="/checkout" class="checkout ecommerce-checkout row" method="POST" name="myForm">

							<div class="col-md-8" id="customer_details">
								<div>
									<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-30">billing address</h2>

									<p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated" id="billing_country_field">
										
										
									</p>

									<p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
										<label for="billing_first_name">First Name
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder value name="first_name" id="first_name">
									</p>

									<p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_last_name_field">
										<label for="billing_last_name">Last Name
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder value name="last_name" id="last_name">
									</p>

									<p class="form-row form-row-wide" id="billing_company_field">
										<label for="billing_company">Company</label>
										<input type="text" class="input-text" placeholder value name="company" id="company">
									</p>

									<p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_address_1_field">
										<label for="billing_address_1">Address
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder="Street address" value name="address" id="address">
									</p>

									<p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-o_class="form-row form-row-wide address-field validate-required">
										<label for="billing_city">Town / City
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder="Town / City" value name="city" id="city">
									</p>

									<p class="form-row form-row-first address-field validate-state" id="billing_state_field" data-o_class="form-row form-row-first address-field validate-state">
										<label for="billing_state">County</label>
										<input type="text" class="input-text" placeholder value name="state" id="state">
									</p>

									<p class="form-row form-row-last address-field validate-required validate-postcode ecommerce-invalid ecommerce-invalid-required-field" id="billing_postcode_field" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
										<label for="billing_postcode">Pincode
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder="Pincode" value name="pincode" id="pincode">
									</p>

									<p class="form-row form-row-first validate-required validate-email" id="billing_email_field">
										<label for="billing_email">Email Address
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder value name="EMAIL" id="EMAIL" required="required">
									</p>

									<p class="form-row form-row-last validate-required validate-phone" id="billing_phone_field">
										<label for="billing_phone">Phone
											<abbr class="required" title="required">*</abbr>
										</label>
										<input type="text" class="input-text" placeholder value name="phone" id="phone">
									</p>

									<div class="clear"></div>

								</div>

								

								<div class="clear"></div>

								

								<div class="clear"></div>

							</div> <!-- end col -->


							<div class="col-md-4">
								<div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
									<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-30">Your Order</h2>
									<table class="table shop_table ecommerce-checkout-review-order-table">
										<tbody>
											<tr class="order-total">
												<th><strong>Order Total</strong></th>
												<td>
													<strong><span class="amount">&#x20B9; <%=total%></span></strong>
												</td>
											</tr>
										</tbody>
									</table>

									<div id="payment" class="ecommerce-checkout-payment">
										
										<div class="form-row place-order">
											<input type="hidden" name="total" value="<%=total%>">
											<input type="hidden" value="<%=orderId%>" name="order_id">
											<input type="submit" class="btn btn-lg" id="place_order" value="Place order">
										</div>
									</div>
								</div>
							</div> <!-- end order review -->
						</form>

					</div> <!-- end ecommerce -->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section> <!-- end checkout -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   <script>
		$(document).ready(function () {
			// Initialize form validation on the registration form.
			// It has the name attribute "registration"
			$("form[name='myForm']").validate({
			  // Specify validation rules
			  rules: {
			   
				first_name: "required",
				last_name: "required",
				address: "required",
				city:"required",
				state: "required",
				pincode: "required",
				EMAIL: "required",
				phone :{
                required: true,
                number: true
               }
		
			  },
			  // Specify validation error messages
			//   messages: {
			// 	title: "Please enter Title",
			// 	description: "Please enter Description",
			// 	file: "Please select an image"
			//   },
			  // Make sure the form is submitted to the destination defined
			  // in the "action" attribute of the form when valid
			  submitHandler: function(form) {
				form.submit();
				//alert("Successfully added");  
			  }
			});
		  });
		
		</script>    

		<%include ../partials/footer%>
