<%include ../partials/header%>
<body>

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div>

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li class="active">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
									</li>
									<li>
										<a href="#portfolio">Subscriptions</a>
									</li>
									<li>
										<a href="#services">Test Drive</a>
									</li>
									<li>
										<a href="#about-us">About us</a>
									</li>							            
									<li>
										<a href="#contact">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper oh">

		<!-- Page Title -->
		<section class="page-title text-center" style="background-image: url(img/contact-banner.jpg);">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<!-- <h1 class="uppercase">Contact</h1> -->
					</div>
				</div>
			</div>
		</section> <!-- end page title -->


		<!-- Contact -->
		<section class="section-wrap-lg contact" id="contact">
			<div class="container">

				<div class="row">

					<div class="col-md-4 mb-40">
						<h5 class="uppercase">Information</h5>

						<div class="contact-item">
							<div class="contact-icon">
								<i class="icon icon_house_alt"></i>
							</div>
							<p>California CA<br>
							Afela inc.<br>
							Star Apple st. 54<br>
							62058</p>
						</div> <!-- end address -->

						<div class="contact-item">
							<div class="contact-icon">
								<i class="icon icon_mobile"></i>
							</div>
							<span>+1 888 5146 3269</span>
						</div> <!-- end phone number -->

						<div class="contact-item">
							<div class="contact-icon">
								<i class="icon icon_mail_alt"></i>
							</div>
							<a href="mailto:afelasupport@gmail.com" class="dark-link">afelasupport@gmail.com</a>
						</div> <!-- end email -->

					</div>

					<div class="col-md-8">
						<form id="contact-form" action="#">

							<div class="row row-16">
								<div class="col-md-6 contact-name">
									<input name="name" id="name" type="text" placeholder="Name*">
								</div>
								<div class="col-md-6 contact-email">
									<input name="mail" id="mail" type="email" placeholder="E-mail*">
								</div>
							</div>

							<textarea name="comment" id="comment" placeholder="Message" rows="9"></textarea>
							<input type="submit" class="btn btn-lg btn-color btn-submit" value="Send Message" id="submit-message">
							<div id="msg" class="message"></div>
						</form>
					</div> <!-- end col -->

				</div>
			</div>
		</section> <!-- end contact -->
		<%include ../partials/footer%>