<%include ../partials/header%>	
<%include ../partials/nav%>
<body>

		<!-- Preloader -->
		<div class="loader-mask">
			<div class="loader">
				"Loading..."
			</div>
		</div>
	<div class="main-wrapper oh">
		
		<!-- Text Rotator -->
		<section class="hero-wrap text-center" style="background-image: url(img/coffee.png)">
			<div  id="flash-msg" style="position: relative;top: 90px;z-index: 10;margin: 0 auto;max-width: 500px;border-radius: 5px;">
					<!-- Flash messages -->
				<% if(error && error.length > 0){ %>
					<div class="alert alert-danger alert-dismissable" role="alert" style="padding-right: 35px;">
						<%= error %>
						<a href="#" class="close" data-dismiss="alert" title="close">×</a>
					</div>
				<% } %>
				<% if(success && success.length > 0){ %>
					<div class="alert alert-success alert-dismissable" style=" color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;" role="alert">
						<%= success %>
						<a href="#" class="close" data-dismiss="alert" title="close">×</a>
					</div>
				<% } %>
			</div>  
			<div class="container container-full-height">
				<div class="hero-holder">
					<div class="hero-message text-rotator">
						<h1><span class="rotate ">Subscription, Easy and Simple to Use, Payment made simple</span></h1>
						<h2 class="hero-subtitle hidden-xs">Cadenza is a merchant curated multi-basket marketplace focusing on subscription brands.

								Our products are made with great care and attention to quality to ensure
								
								daily experiences that are truly luxurious.</h2>
						<div class="buttons-holder mt-30">
							<a href="#baskets" class="btn btn-lg btn-white">Browse Baskets</a>
						</div>
						<div class="local-scroll">
							<a href="#intro" class="scroll-down">
								<i class="fa fa-angle-down"></i>
							</a>
						</div>
					</div>
				</div>
				
			</div>

		</section> <!-- end text rotator -->


		<!-- Intro -->
		<section class="section-wrap intro" id="intro">
			<div class="container">
				<div class="row">

					<div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s">
						<h2 class="intro-heading">
						We Provide Awesome Digital Solutions<br>
						With a Great Attention to Details
						</h2>
						<p class="intro-text">
							Afela is a responsive and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur. Grab this perfect solution. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip awesome. Afela is a responsive and elegant template with tons of features.
						</p>
					</div> <!-- end col -->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section> <!-- end intro -->



		<!-- Portfolio Slider-->
		<section class="featured-works" id="baskets">
				<h2 style="text-align: center;font-size: 35px;">Baskets</h2>
			<div class="container-fluid">
				<div class="row">

					<div id="owl-featured-works" class="owl-carousel owl-theme">
						<% for(let i = 0; i < basketCount; i++) { %>
						<div class="work-item hover-2">
							<div class="work-container">
								<div class="work-img">
									<a href="<%=baskets[i].imageURL%>" class="lightbox-gallery" title="Awesome Boat">
										<img src="<%=baskets[i].imageURL%>" alt="">
										<div class="work-overlay">
											<div class="work-description">
												<h2 class="color-white"><%=baskets[i].title%></h2>
												<span><a href="/plans?id=<%=baskets[i].collectionId%>" class="btn btn-lg btn-white">Subscribe</a></span>
											</div>
										</div>
									</a>															
								</div>
							</div> 
						</div> <!-- end work-item -->
						<% } %>

					</div>	<!-- end slider -->
				</div> <!-- end row -->
				
			</div>
		</section> <!-- end featured works -->


		<!-- Call to Action -->
		<section class="call-to-action bg-light">
			<div class="container">
				<div class="row">

					<div class="col-sm-9 col-xs-12">		
						<h2 class="mb-0"></h2>
					</div>
					
					<!-- <div class="col-sm-3 col-xs-12 cta-button">
						<a href="#" class="btn btn-lg btn-dark"></a>
					</div> -->

				</div>
			</div>
		</section> <!-- end call to action -->
<%include ../partials/footer%>
