<%include ../partials/header%>
<body style="font-family: Raleway, sans-serif">

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="#services">Test Drive</a>
									</li>
									<li>
										<a href="#about-us">About us</a>
									</li>							            
									<li>
										<a href="#contact">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper shop oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">Order summary</h1>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->


		<!-- Cart -->
		<section class="section-wrap-small shopping-cart">
			<div class="container relative">
				<div class="row">

					<div class="col-md-12">
						<div class="table-wrap mb-30">
							<table class="shop_table cart table">
								<thead>
									<tr>
										<th class="product-type">Basket</th>
										<th class="product-name">Name</th>
										<th class="product-plan">Plan</th>
										<th class="product-price">Price/month</th>
										<th class="product-time">Time period</th>
										<th class="product-subtotal">Total</th>
									</tr>
								</thead>
								<tbody>
								<% const plan = basket.plans;%>
									<% for(index in plan){%>
										<%if(plantype == index){%>
											<% let item = plan[plantype] %>
									<tr>
										<td>
											<img src="<%=basket.imageURL%>" alt="">
										</td>
										<td>
											<%=basket.title%>
										</td>
										<td>
											<%=plantype%>
										</td>
										<% var discount=item.discount;
											var srp=basket.srp;
											var month=(srp * discount)/100;
											var gcost=srp-month;
								        %>
										<td>
											<span class="amount">&#x20B9; <%=gcost%></span>
										</td>
										<%if(plantype == "silver"){%>
											<td>
													<span class="amount">1 month</span>
											</td>
										<% }else{ %>
										<td>
												<span class="amount"><%=item.reOrder%> months</span>
										</td>
										<% } %>
										<% var tot=item.reOrder * gcost; var total=tot.toFixed(2);  %>
										<%if(plantype == "silver"){%>
											<td>
													<span class="amount">&#x20B9; <%=gcost%></span>
											</td>
										<% }else{ %>
										<td>
											<span class="amount">&#x20B9; <%=total%></span>
										</td>
										<% } %>
									</tr>
									    <% } %>
									<% } %>
								</tbody>
							</table>
						</div>

					</div> <!-- end col -->
				</div> <!-- end row -->

				<div class="row">

					<div class="col-md-12">
						<div class="cart_totals">
							<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-30">Cart Totals</h2>

							<table class="table shop_table">
								<tbody>
									<tr class="cart-subtotal">
										<th>Cart Subtotal</th>
										<%if(plantype == "silver"){%>
											<td>
													<span class="amount">&#x20B9; <%=gcost%></span>
											</td>
										<% }else{ %>
										<td>
											<span class="amount">&#x20B9; <%=total%></span>
										</td>
										<% } %>
									</tr>
									<!-- <tr class="shipping">
										<th>Shipping</th>
										<td>
											<span>Free Shipping</span>
										</td>
									</tr> -->
									<tr class="order-total">
										<th><strong>Order Total</strong></th>
										<%if(plantype == "silver"){%>
											<td>
													<span class="amount">&#x20B9; <%=gcost%></span>
											</td>
										<% }else{ %>
										<td>
											<strong><span class="amount">&#x20B9; <%=total%></span></strong>
										</td>
										<% } %>
									</tr>
								</tbody>
							</table>

							<div class="actions right">
								<div class="wc-proceed-to-checkout">
									<form action="/check" method="POST">
										<%if(plantype == "silver"){%>
											<input type="hidden" value="<%=gcost%>" name="total">
										<% }else{ %>
											<input type="hidden" value="<%=total%>" name="total">
										<% } %>
										
									   <button type="submit" class="btn btn-md btn-color">proceed to checkout</button>
								   </form>
								</div>
							</div>
						</div>
					</div> <!-- end col cart totals -->

				</div> <!-- end row -->			

				
			</div> <!-- end container -->
		</section> <!-- end cart -->

		<%include ../partials/footer%>