<%include ../partials/header%>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i>
								<a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i>
								<span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="#">
								<i class="fa fa-vimeo"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li >
										<a href="/">Home</a>
									</li>
									<li>
										<a href="#">Test Drive</a>
									</li>
									<li>
										<a href="#">About us</a>
									</li>
									<li>
										<a href="#">Contact us</a>
									</li>

								</ul>
								<!-- end menu -->
							</div>
							<!-- end collapse -->
						</div>
						<!-- end col -->

					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end navigation -->
		</nav>
		<!-- end navbar -->
	</header>

	<div class="main-wrapper oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">Plans</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- end page title -->


		<!-- Pricing Tables 3 Columns -->
		<section class="section-wrap pricing-parallax relative pb-70">
			<div class="relative">
				<div class="container">

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="pricing-table wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
								<div class="pricing-title">
									<h3>Silver</h3>
								</div>
								
								<div class="pricing-price">
									<span class="pricing-currency">&#x20B9;</span>
									<span><%=basket.srp %></span>
									<span class="pricing-term">Monthly</span>
								</div>

								<div class="pricing-features">
									<!-- <ul>
										<li>10 Accounts</li>
										<li>1Gb Space</li>
										<li>Free Updated</li>
										<li>Tech Support</li>
									</ul> -->
									<img style="height: 200px;" src="<%=basket.imageURL %>">
								</div>

								<div class="pricing-button">
									<a href="/order?id=<%=basket.collectionId%>&type=silver" class="btn btn-md btn-white">Order Now</a>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-lg-4 col-md-6">
							<div class="pricing-table best wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
								<div class="pricing-title">
									<h3>Gold</h3>
								</div>
								<% var discount=basket.plans.gold.discount;
								   var srp=basket.srp;
								   var gmonth=(srp * discount)/100;
								   var gcost=srp-gmonth;
								%>
								<div class="pricing-price">
									<span class="pricing-currency">&#8377;</span>
									<span><%=gcost%></span>
									<span class="pricing-term">Monthly</span>
								</div>

								<div class="pricing-features">
									<!-- <ul>
										<li>15 Accounts</li>
										<li>1Gb Space</li>
										<li>Free Updated</li>
										<li>Tech Support</li>
									</ul> -->
									<img style="height: 200px;" src="<%=basket.imageURL %>">
								</div>

								<div class="pricing-button">
									<a href="/order?id=<%=basket.collectionId%>&type=gold" class="btn btn-md btn-color">Order Now</a>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-lg-4 col-md-6">
							<div class="pricing-table wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
								<div class="pricing-title">
									<h3>Platinum</h3>
								</div>
								<% var pdiscount=basket.plans.platinum.discount;
								   var srp=basket.srp;
								   var pmonth=(srp * pdiscount)/100;
								   var pcost=srp-pmonth;
								%>
								<div class="pricing-price">
									<span class="pricing-currency">&#x20B9;</span>
									<span><%=pcost%></span>
									<span class="pricing-term">Monthly</span>
								</div>

								<div class="pricing-features">
									<ul>
										<!-- <li>20 Accounts</li>
										<li>16Gb Space</li>
										<li>Free Updated</li>
										<li>Tech Support</li> -->
										<img style="height: 200px;" src="<%=basket.imageURL %>">
									</ul>
								</div>

								<div class="pricing-button">
									<a href="/order?id=<%=basket.collectionId%>&type=platinum" class="btn btn-md btn-white">Order Now</a>
								</div>
							</div>
						</div>
						<!-- end col -->

					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>

			<div class="parallax" data-stellar-background-ratio="0.5"></div>
		</section>
		<!-- end pricing 3 columns -->





		<!-- Call to Action -->
		<section class="call-to-action bg-light">
			<div class="container">
				<div class="row">

					<div class="col-sm-9 col-xs-12">
						<h2 class="mb-0"></h2>
					</div>

					<!-- <div class="col-sm-3 col-xs-12 cta-button">
						<a href="#" class="btn btn-lg btn-dark"></a>
					</div> -->

				</div>
			</div>
		</section>
		<!-- end call to action -->

		<%include ../partials/footer%>