
	<%include ../partials/header%>
	<body style="font-family: Raleway, sans-serif">

			<!-- Preloader -->
			<div class="loader-mask">
				<div class="loader">
					"Loading..."
				</div>
			</div>
		
			<header class="nav-type-1">
		
				<div class="top-bar hidden-xs">
					<div class="container">
						<div class="row">
							<div class="top-bar-links">
								<ul class="col-sm-6">
									<li class="top-bar-email">
										<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
									</li>
									<li class="top-bar-phone">
										<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
									</li>
								</ul>
		
								<div class="col-sm-6 social-icons text-right nopadding">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>									
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-vimeo"></i></a>
								</div>
		
							</div>
						</div>
					</div>
				</div> <!-- end top bar -->
		
				<nav class="navbar navbar-static-top">
					<div class="navigation">
						<div class="container relative">
		
							<form method="get" class="search-wrap">
								<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
							</form>
		
							<div class="row">
		
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div> <!-- end navbar-header -->
		
								<!-- Logo -->
								<div class="logo-container">
									<div class="logo-wrap">
										<a href="index.html">
											<img class="logo" src="img/logo_dark.png" alt="logo">
										</a>
									</div>
								</div>
		
								<!-- Mobile Cart -->
								<div class="cart-mobile hidden-lg hidden-md">
									<div class="nav-cart">
										<div class="cart-outer">
											<div class="cart-inner">
												<a class="shopping-cart relative" href="cart.html">
													<i class="fa fa-shopping-cart"></i>
													<span>2</span>
												</a>
											</div>
										</div>
									</div>	        		        	
								</div>
		
								<div class="col-md-9 nav-wrap right">
									<div class="collapse navbar-collapse" id="navbar-collapse">
		
										<ul class="nav navbar-nav navbar-right">
		
											<li class="active">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
											</li>
											<li>
												<a href="#portfolio">Subscriptions</a>
											</li>
											<li>
												<a href="#services">Test Drive</a>
											</li>
											<li>
												<a href="#about-us">About us</a>
											</li>							            
											<li>
												<a href="#contact">Contact us</a>
											</li>
		
										</ul> <!-- end menu -->
		
									</div> <!-- end collapse -->
								</div> <!-- end col -->
		
							</div> <!-- end row -->
						</div> <!-- end container -->
					</div> <!-- end navigation -->
				</nav> <!-- end navbar -->
			</header>
		
			<div class="main-wrapper shop oh">
		
				<!-- Page Title -->
				<section class="page-title style-2 text-center">
					<div class="container relative clearfix">
						<div class="title-holder">
							<div class="title-text">
								<h1 class="uppercase">Forgot password</h1>
							</div>
						</div>
					</div>
				</section> <!-- end page title -->


	<section class="section-wrap-small checkout">
			<div class="container relative">
				<div class="row">

					<div class="ecommerce col-xs-12">

						<!-- <div class="row mb-30">
							<div class="col-md-8">
								<p class="ecommerce-info">
									Returning Customer? 
									<a href="#" class="showlogin">Click here to login</a>
								</p>
							</div>
						</div> -->

						<form action="/resetpassword" method="post">
							<input type="hidden" name="email" value="<%=email%>" required>
						<div class="form-group">
							<label for="proNewPassword">New password</label>
							<input type="password" class="form-control" id="proNewPassword" name="newpassword" placeholder="Enter new profile password" required>
						</div>
						<div class="form-group">
							<label for="proConfirmPassword">Confirm password</label>
							<input type="password" class="form-control" id="proConfirmPassword" name="cnewpassword" placeholder="Re-enter password" required>
						</div>
						<button class="btn btn-primary">Reset password!</button>
					</form>

					</div> <!-- end ecommerce -->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section> <!-- end checkout -->

	<%include ../partials/footer%>
