<%include ../partials/header%>

<body style="font-family: Raleway, sans-serif">

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="#">Test Drive</a>
									</li>
									<li>
										<a href="#">About us</a>
									</li>							            
									<li>
										<a href="#">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper shop oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">Invoice report</h1>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->
		<div class="addressinfo" style="width:100%; float:left; margin:30px 0%;">
			<div class="shippinginfo" style="width:33.33%; float:left;">
				<div class="shippinginfohead" style="width:100%; float:left;margin-left:50px;font-weight:bold; font-size:16px; color:#000; padding:10px 0%;">SHIPPING DETAILS</div>
				<div class="shippingaddress" style="width:100%; float:left;margin-left:50px;">
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.first_name%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.city%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.state%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.phone%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.pincode%></p>
					
				</div>
			</div>

			<div class="shippinginfo" style="width:33.33%; float:left;">
				<div class="shippinginfohead" style="width:100%; float:left;margin-left:50px;font-weight:bold; font-size:16px; color:#000; padding:10px 0%;">BILLING DETAILS</div>
				<div class="shippingaddress" style="width:100%; float:left;margin-left:50px;">
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.first_name%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.city%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.state%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.phone%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.pincode%></p>
				</div>
			</div>

			<div class="shippinginfo" style="width:33.33%; float:left;">
				<div class="shippinginfohead" style="width:100%; float:left;font-weight:bold; font-size:16px; color:#000; padding:10px 0%;">CUSTOMER DETAILS</div>
				<div class="shippingaddress" style="width:100%; float:left;">
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.first_name%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.EMAIL%></p>
					<p style="width:100%;float:left;color:#000;font-size:14px;"><%=order.address.phone%></p>
				</div>
			</div>
		</div>


		<!-- Cart -->
		<section class="section-wrap-small shopping-cart">
			<div class="container relative">
				<div class="row">

					<div class="col-md-12">
						<div class="table-wrap mb-30">
							<table class="shop_table cart table">
								<thead>
									<tr>
										<th class="product-type" >Basket</th>
										<th class="product-name" >Name</th>
										<th class="product-plan">Plan</th>
										<th class="product-price">Price/month</th>
										<th class="product-time">Time period</th>
										<th class="product-subtotal">Total</th>
									</tr>
								</thead>
								<tbody>
									<% const plan = order.successfulCart.plans; var plantype=order.successfulCart.baskettype %>
										<% for(index in plan){ %>
											<%if(plantype == index){%>
												<% let item = plan[plantype] %>
										<tr>
											<td>
												<img src="<%=order.successfulCart.imageURL%>" alt="">
											</td>
											<td>
												<%=order.successfulCart.title%>
											</td>
											<td>
												<%=plantype%>
											</td>
											<% var discount=item.discount;
												var srp=order.successfulCart.srp;
												var month=(srp * discount)/100;
												var gcost=srp-month;
											%>
											<td>
												<span class="amount">&#x20B9; <%=gcost%></span>
											</td>
											<%if(plantype == "silver"){%>
												<td>
														<span class="amount">1 month</span>
												</td>
											<% }else{ %>
											<td>
													<span class="amount"><%=item.reOrder%> months</span>
											</td>
											<% } %>
											<% var tot=item.reOrder * gcost; var total=tot.toFixed(2);  %>
											<%if(plantype == "silver"){%>
												<td>
														<span class="amount">&#x20B9; <%=gcost%></span>
												</td>
											<% }else{ %>
											<td>
												<span class="amount">&#x20B9; <%=total%></span>
											</td>
											<% } %>
										</tr>
											<% } %>
										<% } %>
									</tbody>
							</table>
						</div>


					</div> <!-- end col -->
				</div> <!-- end row -->

				<div class="row">
					

					<div class="col-md-12">
						<div class="cart_totals">
							<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-30">Cart Totals</h2>

							<table class="table shop_table">
								<tbody>
									<tr class="cart-subtotal">
											<th>Order Id</th>
											<td>
												<span class="amount"><%=order.order_id%></span>
											</td>
									</tr>
									<tr class="cart-subtotal">
										<th>Order status</th>
										<td>
											<span class="amount"><%=order.successfulCart.status%></span>
										</td>
									</tr>
									
									<tr class="order-total">
										<th><strong>Total paid</strong></th>
										<%if(plantype == "silver"){%>
											<td>
													<span class="amount">&#x20B9; <%=gcost%></span>
											</td>
										<% }else{ %>
										<td>
											<strong><span class="amount">&#x20B9; <%=total%></span></strong>
										</td>
										<% } %>
									</tr>
								</tbody>
							</table>
							<div class="actions right">
									<div class="wc-proceed-to-checkout">
										
										   <a href="/" class="btn btn-md btn-color">Back to Home</a>
									</div>
								</div>

						</div>
					</div> <!-- end col cart totals -->

				</div> <!-- end row -->			

				
			</div> <!-- end container -->
		</section> <!-- end cart -->

		<%include ../partials/footer%>
