<%include ../partials/header%>

<body style="font-family: Raleway, sans-serif">

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->

		<nav class="navbar navbar-static-top">
			<div class="navigation">
				<div class="container relative">

					<form method="get" class="search-wrap">
						<input type="search" class="form-control" placeholder="Type &amp; Hit Enter">
					</form>

					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- end navbar-header -->

						<!-- Logo -->
						<!-- <div class="logo-container">
							<div class="logo-wrap">
								<a href="index.html">
									<img class="logo" src="img/logo_dark.png" alt="logo">
								</a>
							</div>
						</div> -->

						<!-- Mobile Cart -->
						<div class="cart-mobile hidden-lg hidden-md">
							<div class="nav-cart">
								<div class="cart-outer">
									<div class="cart-inner">
										<a class="shopping-cart relative" href="cart.html">
											<i class="fa fa-shopping-cart"></i>
											<span>2</span>
										</a>
									</div>
								</div>
							</div>	        		        	
						</div>

						<div class="col-md-9 nav-wrap right">
							<div class="collapse navbar-collapse" id="navbar-collapse">

								<ul class="nav navbar-nav navbar-right">

									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="#">Test Drive</a>
									</li>
									<li>
										<a href="#">About us</a>
									</li>							            
									<li>
										<a href="#">Contact us</a>
									</li>

								</ul> <!-- end menu -->

							</div> <!-- end collapse -->
						</div> <!-- end col -->

					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end navigation -->
		</nav> <!-- end navbar -->
	</header>

	<div class="main-wrapper shop oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
					<h1 class="uppercase">Subscription Basket</h1>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->


		<!-- Single Product -->
		<section class="section-wrap-small single-product">
			<div class="container relative">
				<div class="row">

					<div class="col-sm-6 col-xs-12 mb-60">

						<div class="gallery-main" >

							<div class="gallery-cell">
								<a href="<%=basket.imageURL %>" class="lightbox-product">
									<img src="<%=basket.imageURL %>" alt="" />
									<i class="arrow_expand"></i>
								</a>
							</div>
						</div> <!-- end gallery main -->

						<div class="gallery-thumbs">
						<% var products=basket.subscriptionProducts; %>
						  <% for(index in products){  %>
							<% let item = products[index] %>
						 
							<div class="gallery-cell">
								<img src="<%=item.imageURL%>" alt="" />
							</div>

							<% } %>
						</div> <!-- end gallery thumbs -->

					</div> <!-- end col img slider -->

					<div class="col-sm-6 col-xs-12 product-description-wrap">
						<h1 class="product-title"><%=basket.title%></h1>
						<!-- <span class="price">
							<del>
								<span>$1550.00</span>
							</del>
							<ins>
								<span class="ammount">$1250.00</span>
							</ins>
						</span> -->
						<p class="product-description"><%=basket.description%></p>
						<div class="color-select clearfix mb-30">
							<h6>Plans:</h6>
							<ul class="color-swatches clearfix ">
								<li>
									<a href="#silver" data-toggle="tab" class="swatch-silver selected"></a>
								</li>
								<li>
									<a href="#gold" data-toggle="tab" class="swatch-gold"></a>
								</li>
								<li>
									<a href="#platinum" data-toggle="tab" class="swatch-platinum"></a>
								</li>
							</ul>
							<!-- tab content -->
							<div class="tab-content pb-0">
								
								<div class="tab-pane fade in active" id="silver">
									<table class="table">

										<tbody>
											<tr>
												<th>Plan name</th>
												<td>Silver</td>
											</tr>
											<tr>
												<th>Time period</th>
												<td>1 Month</td>
											</tr>
											<tr>
												<% var discount=basket.plans.silver.discount;
													var srp=basket.srp;
													var gmonth=(srp * discount)/100;
													var gcost=srp-gmonth;
												 %>
												<th>Total</th>
												<td><%=gcost%></td>
											</tr>
											<tr>
												<td><a href="/order?id=<%=basket.collectionId%>&type=silver" class="btn btn-md btn-color">Order Now</a></td>
											</tr>                                			
										</tbody>
									</table>
								</div>
								
								<div class="tab-pane fade" id="gold">
									<table class="table">

										<tbody>
												<%  var gold= basket.plans.gold; %>
											<tr>
												<th>Plan name</th>
												<td>Gold</td>
											</tr>
											<tr>
												<th>Time period</th>
												<td><%=gold.reOrder%> Months</td>
											</tr>
											<tr>
												<%  
												    var discount=gold.discount;
													var srp=basket.srp;
													var gmonth=(srp * discount)/100;
													var gcost=srp-gmonth;
												 %>
												<th>Price/Month</th>
												<td>INR <%=gcost%></td>
											</tr> 
											<tr>
												<th>Total</th>
												<td>INR <%=gcost * gold.reOrder%></td>
											</tr> 
											<tr>
												<td><a href="/order?id=<%=basket.collectionId%>&type=gold" class="btn btn-md btn-color">Order Now</a></td>
											</tr>                                  			
										</tbody>
									</table>
								</div>
								
								<div class="tab-pane fade" id="platinum">

									<table class="table">

										<tbody>
												<%  var platinum= basket.plans.platinum; %>
											<tr>
												<th>Plan name</th>
												<td>Platinum</td>
											</tr>
											<tr>
												<th>Time period</th>
												<td><%=platinum.reOrder%> Months</td>
											</tr>
											<tr>
												<%  
												    var discount=platinum.discount;
													var srp=basket.srp;
													var gmonth=(srp * discount)/100;
													var gcost=srp-gmonth;
												 %>
												<th>Price/Month</th>
												<td>INR <%=gcost%></td>
											</tr> 
											<tr>
												<th>Total</th>
												<td>INR <%=gcost * platinum.reOrder%></td>
											</tr>
											<tr>
												<td><a href="/order?id=<%=basket.collectionId%>&type=platinum" class="btn btn-md btn-color">Order Now</a></td>
											</tr>                                  			
										</tbody>
									</table>
								</div>
								
							</div> <!-- end tab content -->
						</div>
					</div> <!-- end col product description -->
				</div> <!-- end row -->

			</div> <!-- end container -->
		</section> <!-- end single product -->


		<%include ../partials/footer%>