<%include ../partials/header%>
<body>

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>

	<header class="nav-type-1">

		<div class="top-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="top-bar-links">
						<ul class="col-sm-6">
							<li class="top-bar-email">
								<i class="fa fa-envelope"></i><a href="#">cadenza@gmail.com</a>
							</li>
							<li class="top-bar-phone">
								<i class="fa fa-phone"></i><span>+ 1 888 1554 456 123</span>
							</li>
						</ul>

						<div class="col-sm-6 social-icons text-right nopadding">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>									
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-vimeo"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- end top bar -->


	</header>

	<div class="main-wrapper oh">

		<!-- Page Title -->
		<section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">404</h1>
					</div>
				</div>
			</div>
		</section> <!-- end page title -->

		<!-- 404-->
		<section class="section-wrap page-404">
			<div class="container">

				<div class="row text-center">
					<div class="col-md-6 col-md-offset-3">
						<h1>404</h1>
						<h2 class="mb-50">Store name Not Found</h2>
					</div>
				</div>

			</div>
		</section> <!-- end 404-->
		<%include ../partials/footer%>